@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fredoka+One&family=Roboto&family=Smokum&family=Sono&family=Tilt+Warp&display=swap');



body{
    background: url(../img/background.webp) no-repeat fixed;
    background-size:cover;
}

.box{
    max-width: 40%;
    float: right;
    margin: 40px 80px 0px 0px;
    padding: 15px;
}

.box1{
    background: rgba(255, 255, 255, 0.277);
    padding: 15px;  
    border-radius: 10px;
    height: 70vh;
    overflow-y: scroll;
}

.box1::-webkit-scrollbar{
    width: 0px;;
}

.img img{
    width: 155px;
    height: 260px;
    border-radius: 10px;
    border:black solid 2px;
}

.box h1{
    text-align: center;
   
}

.box h1{
    font-family: "Fredoka One", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.box h4{
    font-family: "Roboto", sans-serif;
}

.box p{
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    text-indent: 50px;
    line-height: 40px;
}

.a{
font-family: "Smokum",sans-serif;
}

.b{
    font-family: "Sono",sans-serif;
}

.c{
    font-family: "Tilt Warp",sans-serif;
}

.d{
    font-family: "Climate Crisis", sans-serif;
}

.e{
    font-family: "Fredoka One", sans-serif;
}

.f{
    font-family: "Comic Sans MS", sans-serif;
}

.g{
    font-family: "Broadway Regular", sans-serif;
}

.h{
    font-family: "Impact Regular", sans-serif;
}

@media (max-width: 470px){

    .box{
        max-width: 100%;
        margin: 40px 0px 0px 0px;
        padding: 10px;
    }

    .box1{
        background: rgba(255, 255, 255, 0.485);
    }

    .box p{
        line-height: 25px;
        font-size: 12px;
    }

    .box h1{
        font-size: 27px;
        color: lightblue;
        -webkit-text-stroke: 1px #000;
    }

    .img img{
        display: flex;
        justify-content: center;
        margin:20px auto;
        width: 200px;
        height: 340px;
        
    }
    
}